.footer {
  background: $footer-bg;
  color: $white;
  padding: 20px 10px;
  font-size: .8rem;
  a {
    color: #fff;
    text-decoration: none;
  }
  i {
    padding-right: 10px;
  }
  &__copyright {
    text-align: center;
    margin: auto;
    margin-top: 15px;
    span {
      display: block;
      padding-top: 0.3rem;
    }
  }
}

@media screen and (min-width: $small-sc) {
  .footer {
    .container {
      display: flex;

      text-align: center;
    }
  }
}

@media screen and (min-width: $medium-sc) {
  .footer {
    .container {
      font-size: 1.2rem;
    }
  }
}
