html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  max-width: 100%;
  overflow-x: hidden;
}

img {
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 100%;
  margin: auto;
}

.container-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: $small-sc) {
  .column--50 {
    width: 50%;
    margin: auto;
  }
  .column--50--25 {
    width: 49%;
  }
}

@media screen and(min-width: $medium-sc) {
  .column--50--25 {
    width: 24.5%;
  }
}

@media screen and (min-width: $big-sc) {
  .container {
    width: 95%;
  }
  .column--33 {
    width: 32%;
  }
}